<div class="container">
  <p id="notice"><%= notice %></p>
  <h1><%= @garment.name %></h1>
  <div class="row">
    <%= form_tag proceed_orders_path, method: :post, id: "proceed_to_order_form" do %>
  	<div class="col-md-8">
  	  <%= render partial: "parts/part", collection: @garment.parts %>
  	</div>
    <% end %>
  	<div class="col-md-4">
  	  <%= render partial: "garments/summary" %>
  	</div>
  </div>
</div>

<%#= link_to 'Edit', edit_garment_path(@garment) %> |
<%#= link_to 'Back', garments_path %>
