<div class="panel panel-default">
  <div class="panel-heading">
  	<h2 class="panel-title" id="selected_part_<%= part.id %>">
  	  <%= link_to part.name, "#collapse_part_#{part.id}", "data-toggle" => "collapse", "data-parent" => "#accordion" %>
      <span class="selected_part_option"><%= part.options.first.name %></span>
  	</h2>
  </div>
  <div id="collapse_part_<%= part.id %>" class="panel-collapse collapse <%= part_counter == 0 ? '' : 'in' %>">
    <div class="panel-body">
      <%= render partial: "options/radio_option", collection: part.options %>
    </div>
  </div>
</div>