<% if part.root? %>
  <div class="panel panel-default" id="part_<%= part.id %>_panel">
    <div class="panel-heading">
      <h2 class="panel-title" id="part_<%= part.id %>_panel_title">
        <%= link_to construct_panel_title(part), "#collapse_part_#{part.id}", class: "collapser", "data-toggle" => "collapse", "data-parent" => "#accordion" %>
      </h2>
    </div>
      
    <div id="collapse_part_<%= part.id %>" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="grouped_part_wrapper">
          <% if part.display_type == "dropdown" %>
            <%= options_for_part_child part %>
          <% elsif ["radio", "checkbox"].include?(part.display_type) %>
            <%= tick_tag part %>
          <% elsif part.display_type == "textbox" %>
            <%= options_textfield_tag part %>
          <% end %>
        </div>

        <% if part.children.exists? %>
          <%= render partial: "parts/part_child", collection: parts_position(part.children) %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
