<div class="col-md-2">
  <div class="row">
    <div class="col-md-12">
      <label for="order_part_<%= radio_option.part.id %>_option_<%= radio_option.id %>" class="option_radio_label">
        <%= radio_button_tag "order[part][#{radio_option.part.id}][option]", radio_option.id, radio_option.part.options.first.id == radio_option.id, class: "radio_option", "data-option-part" => radio_option.part.id, "data-option-name" => radio_option.name, "data-option-disables" => "#{radio_option.disables.map(&:disable_element_id)}", "data-option-subid" => "option_subid_#{radio_option.id}" %>
        <%= image_tag radio_option.photo(:small), class: "radio_option_img", "data-option-part" => radio_option.part.id, "data-option-name" => radio_option.name %>
        <br><%= radio_option.name %>
      </label>
    </div>
    <!-- <div class="col-md-12">
      <label for="order_part_<%= radio_option.part.id %>_option_<%= radio_option.id %>">
        <%#= radio_button_tag "order[part][#{radio_option.part.id}][option]", radio_option.id, radio_option.part.options.first.id == radio_option.id, class: "radio_option", "data-option-part" => radio_option.part.id, "data-option-name" => radio_option.name %>
        <%#= radio_option.name %>
      </label>
    </div> -->
  </div>
</div>