<div class="row">
    <div class = "col-md-12">
    <div class="panel-group">
     <div class="panel panel-default">
      <div class ="col-md-12">
    <h2> <%= @garment.name %></h2>
      </div>
      <div class = "category">
    <% @order_data.each do |k, v| %>
      <% v.each do |part_key, part_values| %>
            
            
            <% part = Part.find part_key %>
            <% option = Option.find part_values["option"] %>

          

              <span class = "span1"><b><%= part.name %>: </b> 
           
              <%= option.name %> </span>
            
            <% if part_values["children"].present? %>
                <% part_values["children"].each do |subpart_hash| %>
                  <% subpart_hash.each do |sub_k, sub_v| %>
                    <% sub_v.each do |subpart_key, subpart_value| %>
                      <% child_part = Part.find subpart_key %>
                      <span class = "span1"> <b><%= child_part.name %>: </b>
                      <% subpart_value["option"].each do |opt_hash| %>
                        <% if opt_hash["id"].present? %>
                          <% child_part_option = Option.find opt_hash["id"] %>
                         <%= child_part_option.name %>
                        <% else %>
                          <%= opt_hash["value"] %> 
                        <% end %>
                      <% end %>
                   </span>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
            
        
      <% end %>
    <% end %>
</div>
</div>

<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %></div>
</div>

  <div class="field form-group">
    <%= f.hidden_field :data, value: @order_data %>
    <%= f.hidden_field :garment_id, value: @order.garment_id %>

    <%#= @order_data %>
    <%#= f.label :data %><br>
    <%#= f.text_area :data, :value => @order_data, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit 'Place Order', class: 'btn btn-primary' %>
  </div>

<% end %>