<div class="row">
  <div class="col-md-12">
    <% @order_data.each do |k, v| %>
      <% v.each do |part_key, part_values| %>
        <div class="col-md-2">
          <div class="row">
            <% part = Part.find part_key %>
            <% option = Option.find part_values["option"] %>
            <div class="col-md-12">
              <h3><%= part.name %>:</h3>
            </div>
            <div class="col-md-12">
              <h4><%= option.name %></h4>
            </div>
            <% if part_values["children"].present? %>
              <div class="col-md-12">
                <% part_values["children"].each do |subpart_hash| %>
                  <% subpart_hash.each do |sub_k, sub_v| %>
                    <% sub_v.each do |subpart_key, subpart_value| %>
                      <% child_part = Part.find subpart_key %>
                      <h4><%= child_part.name %>:</h4>

                      <% subpart_value["option"].each do |opt_hash| %>
                        <% if opt_hash["id"].present? %>
                          <% child_part_option = Option.find opt_hash["id"] %>
                          <h5><%= child_part_option.name %></h5>
                        <% else %>
                          <h5><%= opt_hash["value"] %></h5>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.hidden_field :data, value: @order_data %>
    <%#= @order_data %>
    <%#= f.label :data %><br>
    <%#= f.text_area :data, :value => @order_data, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit 'Place order', class: 'btn btn-primary' %>
  </div>
<% end %>