<div class="panel panel-default">
  <div class="panel-heading">
  	<h2 class="panel-title" id="">
  	 <b> <%= "#{print_section.name}"%></b>
  	</h2>
  </div>
  <div id="collapse_part_<%= print_section.id %>" class="panel-collapse collapse in">
    <div class="panel-body">
      
       <% @order_data.each do |k, v| %>
        <% v.each do |part_key, part_values| %>

          <% part = Part.find part_key %>
           
     <%if !part_values["option"].blank? %>         
           <%# option = Option.find part_values["option"]  %>
                 <%#if option.class == Array%>

                            <%#option.each do |opt|%>
                                       <%#if !opt.printable_photo(:small).include? "missing"%>
                                      <%=render :partial=>"p_section",:locals=>{:print_section=>print_section,:part_values=>part_values}%>
                                       <%#end%>   
                              <%#end%>

                 <%#else%>
                       <%#if !option.printable_photo(:small).include? "missing"%>
                                 <%#=render :partial=>"p_section",:locals=>{:print_section=>print_section,:part_values=>part_values}%>
                       <%#end %>
         
                 <%# end %> 
       <%else%>
             <% if part_values["children"].present? %>
                                                    <% part_values["children"].each do |subpart_hash| %>
                                                   <% subpart_hash.each do |sub_k, sub_v| %>
                                                     <% sub_v.each do |subpart_key, subpart_value| %>
                                                       <% child_part = Part.find subpart_key %>

                                                       <% subpart_value["option"].each do |opt_hash| %>
                                                         <% if opt_hash["id"].present? %>
                                                           <% child_part_option = Option.find opt_hash["id"] %>
                                                           <div class = "col-xs-2">
                                                                <% if child_part_option.print_sections.include?(print_section) %>
                                                           <% if child_part_option.printable_photo.present? %>

                                                            <%= image_tag child_part_option.printable_photo(:small) %>222222
                                                           <% end %>
                                                           <% end %>
                                                           </div>
                                                         <% else %>
                                                              
                                                           <h5>
                                                           <%if print_section.parts.include? child_part%>
                                                            <%= opt_hash["value"] %></h5>
                                                            <%end%>

                                                         <% end %>
                                                       <% end %>
                                                     <% end %>
                                                   <% end %>
                                                 <% end %>
                                             <% end %> 
        <% end %>
      <% end %>
                              <% end %>
    
  </div>
  </div>
</div>

